* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../../../public/Assets/landing-page-image.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
   
}