.container {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
    padding-top: 5rem;
  }
  
  .item {
    flex: 0 0 auto; 
    scroll-snap-align: center; 
    margin-right: 0rem;
    text-align: center;
  }
  
  .image {
    width: 70%;
    height: auto;
  }
  
  .link {
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: inherit;
  }
  
  .container::-webkit-scrollbar {
    display: none;
  }
  
  .container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  